name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install check
      run: sudo apt-get install check

    - name: Build scsniff
      run: make

    - name: Build and run tests
      run: make check

#  build-macos:
#    runs-on: macos-latest
#
#    steps:
#    - uses: actions/checkout@v2
#
#    - name: Install check
#      run: brew install check
#
#    - name: Build scsniff
#      run: make
#
#    - name: Build and run tests
#      run: make check
